blahblah
<% @school_classes.each do |school_class|%>
  <div>
    <label>title:</label>
    <%=school_class.title%><br>
    <label>room_number:</label>
    <%=school_class.room_number%><br>
  </div>
<% end %>
